{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bienvenue</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

        <!-- Bootstrap JS file -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            #dec, #gr{
                float:right;
            }
        </style>
    </head>

    <body>
        <div class="container"><br><a class="btn btn-danger" href="{% url 'logout' %}" id="dec">Déconnexion</a>
            <h3>Candidats aux sélections</h3>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" id="myInput" type="text" placeholder="Rechercher.."><p>{{ nb }}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="pre-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Note_H.G</th>
                            <th>Note_ANG</th>
                            <th>Note_FR</th>
                            <th>Résultats</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for Candt in Candidats %}
        
                        <tr>
                            <td>{{ Candt.Nom }}</td>
                            <td>{{ Candt.Prenom }}</td>
                            <td>{{ Candt.Note_HG }}</td>
                            <td>{{ Candt.Note_ANG }}</td>
                            <td>{{ Candt.Note_FR }}</td>
                            <td>
                                {{% print(Valeur) %}}
                            </td>
                        </tr>
        
                        {% endfor %}
        
                    </tbody>
                </table>
            </div><br>
            <a class="btn btn-secondary" href="/index">Retour</a>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
    </script>
</html>